.head {
  width: 100%;
  background-color: #242121;
  height: 40px;
}

.head .top_nav a {
  text-decoration: none;
  font-size: 12px;
  color: #acaaaa;
}

.head .top_nav span {
  margin: 0 6px;
  color: #444343;
}

.head .top_nav .topnav {
  height: 40px;
  line-height: 40px;
  float: left;
}

.head .top_nav .cart {
  float: right;
  margin: 0 0 0 15px;
  padding: 0 19px;
  background-color: #413c3c;
  line-height: 38px;
}

.head .top_nav .cart img {
  width: 20px;
  top: -2px;
  position: relative;
}

.head .top_nav .cart span {
  color: #acaaaa;
}

.head .top_nav .log_reg {
  float: right;
  line-height: 40px;
}

.head .top_nav #user {
  float: right;
  padding: 0 12px;
  width: 190px;
  height: 40px;
  color: #59b3bd;
  line-height: 40px;
}

.head .top_nav #user li {
  font-size: 12px;
  float: left;
}

.head .top_nav #user li a {
  cursor: pointer;
}

.head .top_nav #user .username {
  width: 35px;
  padding: 0 12px;
  font-weight: 500;
}

.head .top_nav #user .username a {
  color: #59b3bd;
}

.head .s_nav {
  position: relative;
  overflow: hidden;
  z-index: 999;
  background-color: #e4e2e2;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  height: 50px;
}

.s_nav div {
  float: left;
}

.s_nav div a {
  font-size: 14px;
}

.s_nav .logo {
  text-align: center;
  width: 161px;
  line-height: 48px;
}

.s_nav .logo img {
  line-height: 50px;
}

.s_nav .row {
  line-height: 48px;
  text-align: center;
}

.s_nav .row .hover {
  width: 72px;
}

.s_nav .row .hover:hover {
  background-color: #fff;
}

.s_nav .row .hover:hover a {
  color: red;
}

.s_nav .row .hover:hover .item {
  display: block;
}

.s_nav .row .search {
  margin-left: 10px;
  float: right;
}

.hover .item {
  width: 1140px;
  height: 300px;
  display: none;
  position: relative;
  z-index: 999;
}

.hover .item ul {
  height: 300px;
  width: 1140px;
  padding-top: 10px;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.hover .item ul li {
  width: 160px;
  padding: 0 15px;
  float: left;
}

.hover .item ul li img {
  width: 160px;
  cursor: pointer;
}

.hover .item ul li h4 {
  font-size: 16px;
  line-height: 30px;
  color: #222;
}

.hover .item ul li span {
  line-height: 30px;
  color: #989898;
}

.hover .item ul li p {
  color: #ed1c24;
  line-height: 30px;
}

/*tv*/
.tv .item {
  left: -233px;
}

/*refrigerator*/
.refrigerator .item {
  left: -305px;
}

/*wash*/
.wash .item {
  left: -377px;
}

/*life*/
.life .item {
  left: -449px;
}

/*hardware*/
.hardware .item {
  left: -521px;
}

/*terminal*/
.terminal .item {
  left: -593px;
}

/*super*/
.super .item {
  left: -665px;
}
