@charset "UTF-8";
/*右侧工具导航*/
.right_nav {
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 160px;
}

.right_nav li {
  text-align: center;
  margin: -1px 0 -1px 0;
  transition: all 0.2s;
  width: 42px;
  height: 42px;
  background-color: #fff;
  border: 0.5px solid #ccc;
}

.right_nav li a {
  text-align: center;
}

.right_nav li a .tool_title {
  color: #fff;
  display: none;
}

.right_nav li:hover {
  background-color: red;
}

.right_nav li:hover i {
  display: none;
}

.right_nav li:hover img {
  display: none;
}

.right_nav li:hover .tool_title {
  padding: 5px;
  display: block;
}

a span img {
  margin: 7px;
}

a span .iconfont {
  display: block;
  color: #464343;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}
